<div class="container text-center" style="width: 100%">
    <h3>Enter Employee Details</h3>
    
    <section id="about-us">
      <div class="container about">
        <div class="row">
          <div class="column">
            <div class="card">
              <form [formGroup]="addEmployee" (ngSubmit)="insertEmployee(addEmployee.value)">
                <div class="mb-3">
                  <br>
                    <!-- <label class="form-label">First Name</label> -->
                    <input type="text" class="form-control" id = "data" placeholder="Enter First Name" formControlName="firstName" [class.is-invalid]= "addEmployee.get('firstName').touched &&
                    addEmployee.get('firstName').invalid">
                    <div *ngIf="addEmployee.get('firstName').touched && addEmployee.get('firstName').invalid" >
                      <small class="text-danger" *ngIf="addEmployee.get('firstName').errors?.['required']">FirstName is requried</small>
                      <small class="text-danger" *ngIf="addEmployee.get('firstName').errors?.['maxlength']">Firstname Should not be grater then 20 Chararacters</small> 
                      <small class="text-danger" *ngIf="addEmployee.get('firstName').errors?.['pattern']">Firstname Should Contain only Character</small> 
            
                  </div>
                </div>
                <div class="mb-3">
                    <!-- <label class="form-label">Last Name</label> -->
                    <input type="text" class="form-control" id = "data" placeholder="Enter Last Name" formControlName="lastName" [class.is-invalid]= "addEmployee.get('lastName').touched &&
                    addEmployee.get('lastName').invalid">
                    <div *ngIf="addEmployee.get('lastName').touched && addEmployee.get('lastName').invalid" >
                      <small class="text-danger" *ngIf="addEmployee.get('lastName').errors?.['required']">LastName is requried</small>
                      <small class="text-danger" *ngIf="addEmployee.get('lastName').errors?.['maxlength']">LastName Should not be grater then 20 Characters</small> 
                      <small class="text-danger" *ngIf="addEmployee.get('lastName').errors?.['pattern']">LastName Should Contain only Character</small> 
            
                  </div>
                </div>
              <div class="form-group">
                <!-- <label class="form-label">Date Of Birth</label> -->
                <input formControlName="dateOfBirth"  type="date" class="form-control" id = "data" placeholder="Enter dateOfBirth" [class.is-invalid]= "addEmployee.get('dateOfBirth').touched &&
                addEmployee.get('dateOfBirth').invalid">
                <div *ngIf="addEmployee.get('dateOfBirth').touched && addEmployee.get('dateOfBirth').invalid" >
                <small class="text-danger" *ngIf="addEmployee.get('dateOfBirth').errors?.['required']">Date of Birth is Mandatory</small>
                </div>
              </div>
              <div class="form-group">
                <!-- <label class="form-label">Contact Number</label> -->
                <input formControlName="contactNo"  type="text" id = "data" class="form-control" placeholder="Enter contact Number" [class.is-invalid]= "addEmployee.get('contactNo').touched &&
                addEmployee.get('contactNo').invalid">
                <div *ngIf="addEmployee.get('contactNo').touched && addEmployee.get('contactNo').invalid" >
          
                  <small class="text-danger" *ngIf="addEmployee.get('contactNo').errors?.['required']">contact Number is requried</small>
                  <small class="text-danger" *ngIf="addEmployee.get('contactNo').errors?.['pattern']">Contact Number Should Contain only Numbers</small>
                </div>
              </div><br>
              <div class="form-group">
                <label class="form-label">Department</label>&nbsp;&nbsp;&nbsp;
                <select formControlName="department" [class.is-invalid]= "addEmployee.get('department').touched &&
                addEmployee.get('department').invalid">
                  <option value="">Select Department </option>
                  <option *ngFor="let department of departments" [ngValue]="department">{{ department.deprtmentName }}</option>
                </select>
              
                <div *ngIf="addEmployee.get('department').touched && addEmployee.get('department').invalid" >
                <small class="text-danger" *ngIf="addEmployee.get('department').errors?.['required']">Department is Mandatory</small>
                </div>
              </div>
                <button type="submit" class="btn btn-secondary" [disabled]="addEmployee.invalid">Add</button>&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn btn-secondary">Reset</button>
              </form>
            </div>
          </div>
        </div>
        </div>
    </section>
  
  </div>
  