.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 8px;
    height: 410px;
}

.card:hover {
	box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.2);
}

.btn-hover:hover {
	background-color: cornflowerblue;
}


.about {
	height: 400px;
}

.column {
	float: left;
	width: 80%;
	height: 80px;
	margin-bottom: 16px;
	padding: 0 8px;
	margin: 2px auto;
}

#data
{
    width: 70%;
    text-align: center;
    margin-left: 90px;
    
}